@tailwind base;
@tailwind components;
@tailwind utilities;


/* nav button and authentification */

.logo {
    font-size: 19px; 
    font-weight: 500; 
    padding: 8px 10px;
}
.addplace{
    font-size: 16px; 
    font-weight: 400; 
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 20px;
   
    
  }

  
img{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

  .places{
    width: 290px;
    margin: 0px 10px  20px 10px;
    position: relative;
    
  }

  h1 {
    font-size: 29px;
    font-weight: 500;
    font-family: sans-serif;
    color: #111827;
  }
  
  p{
    background-color: #dbeafe;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 13px;
    color: #4a4a4a;
  }

  
  
  /* new destination style */
  h1 {
    font-size: 38px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h3 {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #b0b0b0;
  }
  
  .selection {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4a4a4a;
  }
  
 

  .animation-wrapper{
    position: absolute;
    bottom: 0 ;
    top: 240px;
    left: 57.5rem;
    right: 0rem;
    background-color: white; /* A blue background color */
    background-blend-mode: multiply; /* Blends the image and color */
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
  

    

  }

  div[ref="lottieAnimation"] {
    border-radius: 10px; /* Remove border from the Lottie animation container */
    outline: none; /* Just in case there's an outline */
  }
  
  
 
  /*newplaces*/
  .tinted-background{
    position: fixed;    /* Position it fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;       /* Cover full width */
    height: 100%;      /* Cover full height */
    background-color: rgba(0, 0, 0, 0.5);  /* Black with 50% opacity */
    z-index: 50;      /* Ensure it's below the overlay but above everything else */
}

  img{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

  .places{
    width: 290px;
    margin: 0px 10px  20px 10px;
    
  }

  h1 {
    font-size: 29px;
    font-weight: 500;
    font-family: sans-serif;
    color: #111827;
  }
  .margin-places{
    padding: 90px;
   
    
  }
  p{
    background-color: #dbeafe;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 13px;
    color: #4a4a4a;
  }

  
    
  
  
  
